<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid navstyle">
    <div class="navbar-header t-font">
        <h3 id="header-logo">Overlord</h3>
    </div>
    <div style="float: right;" class="b-font" id="header-links">
        <ul class="nav navbar-nav">
        <li><a class="navcolor" href="/" style="color:#FFF;">Home</a></li>
        <li><a class="navcolor" href="/input" style="color:#FFF">Recipe Book</a></li>
         </ul>

     <!-- MODAL START -->
      <!-- Button trigger modal -->
     <button type="button" class="btn btn-success btn-lg" id="navSignIn" data-toggle="modal" data-target="#myModal3">
              Update Info
            </button>
            <!-- Modal -->
          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title t-font" id="myModalLabel" style="text-align: center;">Update Your Information</h4>
                </div>
                <div class="modal-body b-font">
                    <form>
                    <div class="form-group" style="text-align: left;">
                                <label for="name">Name: </label>
                                <input type="text" class="form-control" id="name">
                              </div>
                      <div class="form-group" style="text-align: left;">
                        <label for="email" >Email address:</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                      <div class="form-group" style="text-align: left;">
                        <label for="pwd" >Password:</label>
                        <input type="password" class="form-control" id="pwd">
                      </div>
                      <div class="form-group">
                        <input type="radio" name="gender" value="male"> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                      </div>
                      <div class="form-group" style="text-align: left;">
                        <label for="pwd">Height (centimeters): </label>
                        <input type="number" class="form-control" name="quantity" id="height">
                      </div>
                      <div class="form-group" style="text-align: left;">
                        <label for="pwd">Weight (pounds): </label>
                        <input type="number" class="form-control" name="quantity" id="weight">
                      </div>
                      <div class="form-group" style="text-align: left;">
                        <label for="pwd"> Birthday: </label>
                        <input type="date" name="bday">
                      </div>  
                      <br>
                      <div class="form-group" style="text-align: left;">
                        <label for="pwd"> Profile Picture: </label>
                        <input type="file" name="img">
                        <br>
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      <a href="/"><button  type="button" class="btn btn-danger">Sign Out </button></a>
    </div>
  </div>
</nav>


<!-- Welcome page -->

<container>   
  <div class="row">
        <div class="col-md-1"></div>
        <!-- user info -->
        <div class="col-md-3 b-font">
           <h1>{{user.name}} <h1>
              
              <img src={{user.picture}} alt="gym-in-gym" class="img-thumbnail">
              <p> {{user.description}}</p>
              <ul>
                  <li>{{user.gender}}</li>
                  <li>{{user.month}}/{{user.day}}/{{user.year}}</li>
                  <li>Height: {{user.height}} </li>
                  <li>Weight: {{user.weight}} </li>
                  <li>BMI: {{user.BMI}} 
                </ul>
             

        </div>
        <!-- settings/config options -->
       <!--  <div class="col-md-2 settings">
          <p class="t-font">Settings</p>
            <ul class="home-settings b-font">
              <li> <a href="Input.html">Recipe Book</li></a>
              <! <li> <a href="#">Update Info</li></a> -->
                <!-- <br><br> -->
              <!-- <button type="button" class="btn btn-danger">Sign Out</button> -->
            <!-- </ul> -->
        <!-- </div> -->
        <!-- main content -->
        <div class="col-md-7">
            <div class="page-header t-font">
              <h1>Welcome  <br>
              <small>Find new recipes, articles, and your profile here!</small></h1>
            </div>
            <div class="boxItem">
              <div class="row">
                <div class="col-md-6 b-font">
                  
               {{!--     <h3>{{user.name}}</h3> --}}
                   <div class="row">
                      <ul>
                        {{#each user.Meals}}
                        <li>
                          <div class="col-md-6 b-font">
                            <h3 id="foodItem">{{this.meal_name}}</h3>
                            <img src="http://images.media-allrecipes.com/userphotos/250x250/3570996.jpg">
                          </div>
                            <div class="col-md-5 nutrInfo b-font">
                              <ul>
                                <li>
                                  <p>Total Calories: {{this.calories}} </p> 
                                  <p>Total Fat: {{this.fat}} </p>
                                  <p>Total Protein: {{this.protein}}</p>
                                  <p>Total Carbohydrates: {{this.carbs}}</p>
                                </li>
                              {{/each}}
                            </ul>
                           </li> 
                          </ul>
                        </div>
                      </div>
                    </div>


    <div class="col-md-1"></div>
  </div>
</container>

  
<!-- Footer begin -->

  <footer>
  <div class="container footercss">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-block">
          <ul class="list-inline footer-menu">
            <li><a href="https://github.com/eXo5/luckyoverlord">Developer site</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-block text-center">
          <p class="copyright">
            Copyright 2016 Overlord. All rights reserved.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-block">
          <ul class="list-inline pull-right social-icon">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Footer begin -->